
.wrapper{
    background-image: url(./background-wrapper.png);
    background-position: -5px;
    background-attachment: fixed;
}
.container {
    width: 80%;
    padding: 2% 9%;
    position: relative;
}
.wrapper h2{
    color: #C39A2E;
    text-align: center;
    font-family:'Montserrat', sans-serif ;
    font-weight: 700;
    font-size: 2.3em;
    margin-bottom: 5%;
}
/* WRAPPER-SATU*/

.wrapper-satu{
    display: flex;
    justify-content: space-between;
}
.img-wrapper-satu {
    max-width: 45%;
    overflow: hidden;
    border-radius: 20px;
}
.img-wrapper-satu img {
    width: 100%;
    transition: 1s;
    
}
.img-wrapper-satu img:hover{
    transform: scale(1.1);
}

.wrapper-title {
    max-width: 50%;
}
.wrapper-title h3 {
    font-family:'Nunito Sans', sans-serif ;
    font-size: 1.6em;
    margin-bottom: 2%;
    font-weight: 700;
    margin-left: 1%;
}
.wrapper-title p {
    margin-left: 1%;
    color: #535352;
}
.btn-wrapper-satu {
    background-color: black;
    border: none;
    color: #C39A2E;
    width: 14em;
    height: 3em;
    border-radius: 50px;
    font-family:'Montserrat', sans-serif ;
    font-weight: 600;
    margin-top: 20%;
    margin-left: 1%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
    transition: 0.5s;
    outline-style: none;
}
.btn-wrapper-satu:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}
/* WRAPPER-DUA*/

.wrapper-dua {
    margin-top: 10%;
}
.img-wrapper-dua {
    max-width: 47%;
    overflow: hidden;
    border-radius: 20px;
}
.wrapper-dua .wrapper-title-2 {
    max-width: 48%;
}
.img-wrapper-dua img {
    width: 100%;
}

/* Responsive Layout */
@media (min-width: 320px) and (max-width:578px){
    
    .wrapper-satu{
        display: inline-block;
    }
    .img-wrapper-satu {
        max-width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
    .wrapper-title {
        margin-top: 5%;
        max-width: 100%;
    }
    
    .wrapper-dua {
        margin-top: 10%;   
        display: inline-block;
        max-width: 100%;
       
    }
    .wrapper-dua .wrapper-title-2 {
        max-width: 100%;
    }
    .wrapper-satu  .img-wrapper-dua{
        margin-top: 10%;
    }
    .img-wrapper-dua img {
        width: 100%;
    }

}